{% extends "admin.html" %}

{% block title %}Order Detail{% endblock %}

{% block content %}


    <form action="/users" method="POST">
        <label for="name">Name:</label>
        <input type="text" name='name' placeholder="이름을 입력하세요" value="{{ search_name }}">

        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="" {% if not search_gender %}selected{% endif %}>Any</option>
            <option value="male" {% if search_gender == "male" %}selected{% endif %}>Male</option>
            <option value="female" {% if search_gender =='female' %}selected{% endif %}>Female</option>
        </select>

        <button type="submit">검색</button>
    </form>
   
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Birthdate</th>
        </tr>
        {% for user in users %}
        <tr>
            <td><a href="./{{ user[0] }}">{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
        </tr>
        {% endfor %}
    </table>

    {% for pagenum in range(1, totalpages) %}
    <a href="./{{ pagenum }}">{{ pagenum }}</a>
    {% endfor %}
</body>
{% endblock %}
</html>