<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users page</title>
</head>
<body>
    <H1>Users_ CHC</H1>
    <a href="/users">Users</a>
    <a href="/orders">Order</a>
    <a href="/orderitems">Order Item</a>
    <a href="/items">Item</a>
    <a href="/stores">Store</a>

    <form action="/users" method="POST">
        <label for="name">Name:</label>
        <input type="text" name='name' placeholder="이름을 입력하세요" value="{{ search_name or '' }}">
        <!-- value 왜 동작 안하지? -->

        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="" {% if not search_gender %}selected{% endif %}>Any</option>
            <option value="male" {% if search_gender == "male" %}selected{% endif %}>Male</option>
            <option value="female" {% if search_gender =='female' %}selected{% endif %}>Female</option>
        </select>

        <button type="submit">검색</button>
    </form>
   
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Birthdate</th>
            <th>Address</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
            <td>{{ user[5] }}</td>
        </tr>
        {% endfor %}
    </table>

    {% for pagenum in range(1, totalpages) %}
    <a href="/users/{{ pagenum }}">{{ pagenum }}</a>
    {% endfor %}
</body>
</html>