{% extends "admin.html" %}

{% block title %}Order Detail{% endblock %}

{% block content %}
    <H2>상품 주문 정보</H2>
  
    <table border="1">
        <tr>
            <th>orderitem_id</th>
            <th>order_id</th>
            <th>item_id</th>
            <th>item_name</th>
        </tr>
        {% for orderitem_detail in orderitem_detail %}
        <tr>
            <td>{{ orderitem_detail['orderitem_id'] }}</td>
            <td><a href="../orders/{{ orderitem_detail['order_id'] }}">{{ orderitem_detail['order_id'] }}</td>
            <td><a href="../items/{{ orderitem_detail['item_id'] }}">{{ orderitem_detail['item_id'] }}</td>
            <td>{{ orderitem_detail['item_name'] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}