<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Users_ CHC</H1>
    <input type="text" id='searchname' placeholder="이름 입력"> 
    <select>
        <option value="None"></option>
        <option value="female">여자</option>
        <option value="male">남자</option>
    </select>
    <button onclick="search_users()">검색</button>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Birthdate</th>
            <th>Address</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
            <td>{{ user[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>