{% extends "admin.html" %}

{% block title %}Order Detail{% endblock %}

{% block content %}
    <H2>주문 정보</H2>
  
    <table border="1">
        <tr>
            <th>order_id</th>
            <th>order_at</th>
            <th>store_id</th>
            <th>user_id</th>
        </tr>
        {% for order_detail in order_detail %}
        <tr>
            <td>{{ order_detail['order_id'] }}</td>
            <td>{{ order_detail['order_at'] }}</td>
            <td><a href="../stores/{{ order_detail['store_id'] }}">{{ order_detail['store_id'] }}</td>
            <td><a href="../users/{{ order_detail['user_id'] }}">{{ order_detail['user_id'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <!-- <H2>주문 정보</H2>
  
    <table border="1">
        <tr>
            <th>order_id</th>
            <th>order_at</th>
            <th>store_id</th>
            <th>user_id</th>
        </tr>
        <tr>
            <td>{{ order_detail['order_id'] }}</td>
            <td>{{ order_detail['order_at'] }}</td>
            <td>{{ order_detail['store_id'] }}</td>
            <td>{{ order_detail['user_id'] }}</td>
         </tr>
    </table> -->
{% endblock %}