{% extends "admin.html" %}

{% block title %}Order Detail{% endblock %}

{% block content %}


    <table border="1">
        <tr>
            <th>Id</th>
            <th>Order_At</th>
            <th>Store_id</th>
            <th>User_id</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td><a href= "../orders/{{ order[0] }}">{{ order[0] }}</td>
            <td>{{ order[1] }}</td>
            <td>{{ order[2] }}</td>
            <td>{{ order[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    {% for pagenum in range(1, totalpages+1) %}
    <a href="/orders/{{ pagenum }}">{{ pagenum }}</a>
    {% endfor %}
</body>
{% endblock %}
</html>