<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Birthdate</th>
            <th>Address</th>
        </tr>

        <tr>
            <td>{{ user['Id']}}</td>
            <td>{{ user['Name']}}</td>
            <td>{{ user['Gender']}}</td>
            <td>{{ user['Age']}}</td>
            <td>{{ user['Birthdate']}}</td>
            <td>{{ user['Address']}}</td>
        </tr>
    </table>

    <button>back to previous page</button>
    
</body>
</html>